@import '../../styles/settings.scss';

.card { 
    display: flex;
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    font-weight: bold;
    button:nth-of-type(1){
        position: absolute;
        right: 35px;  
    }
    button{
        position: absolute;
        right: 10px;
        border: none;
        background-color: transparent;
        font-size: 17px;
        width: 20px;
        .isFavorite{
            color: $color-warning;
        }   
    }
}